.w-101 {
    width: 100%!important;
    height: 614px;
}

.searchBar {
    position: absolute;
    top: 0px;
}

.height-50px {
    height: 50px;
}

.opacity {
    opacity: 0.9;
}

.vheight-90 {
    height: 90vh;
}

.width-370px {
    width: 370px;
}

.background-image {
    background-image: url(https://images.unsplash.com/photo-1516685018646-549198525c1b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-size: cover;
}

#loginError {
    color: red;
    display: none;
}
.footerlogo{
    position: absolute;
    top: 170px;
    left: 7%;
    
    
}
.footercolor ul li a{
    color: #fff !important;
    text-decoration: none;
}
.footercolor div a{
    color: #fff !important;
    text-decoration: none;
}
.fa-brands{
    font-size: 25px;
    margin-top: 15px;
}