*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
nav{

    display: flex;
    padding: 2%;
    justify-content: space-between;
    align-items: right;
}
h1{
    display: flex;
    float: left;
}
nav ul li{
    display: inline-block;
    margin-right: 25px;
    list-style: none;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    align-items: center;
}
nav ul li a{
    text-decoration: none;
    color: rgb(48, 46, 46);
}

.food{
    margin-top: 4rem;
    background-image:linear-gradient(rgb(48, 46, 46),rgb(100, 93, 93),rgb(99, 79, 79));
    padding: 3rem 2rem;
    width: 100%;
}

/* carousel */
.item, .item > img:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.4s ease;
}


.cont-name{
    margin: 10px;
    margin-top: 40px;
    font-size: 30px;
    text-align: center;
    color: #1e3521;
    text-decoration: underline;
}

.details{
    color: rgb(59, 56, 37);
}

.place{

    margin-block: 20px;
    flex-wrap: wrap;
}
.gallery{

    padding: 1rem;
    margin: 1rem 0.5rem;
    border-radius: 5px;
    width: 30%;
    width: 300px;
    cursor: pointer;
}

.gallery > a{
    display: inline-block;
    height: 170px;
    overflow: hidden;
}

.gallery img{
    width: 100%;
    margin-bottom: 10px;
}

.gallery:hover{
    border: 1px solid rgb(202, 202, 202);
    box-shadow: 5px 5px 30px #cbcbcb;
    transition: all 0.4s ease ; 
}
.gallery span{
    color: gold; 
    text-shadow: 2px 2px 25px #a7a7a7;
}

.searchBoxExp{
    margin: 10px auto;
    width: 50%;
    height:80px;
    padding-top: 30px;
}