<div>
    <div class="food">
        <div class="owl-carousel">
            <div class="item">
                <img src="../images/img1.webp" alt="">
            </div>
            <div class="item">
                <img src="../images/img2.jpg" alt="">
            </div>
            <div class="item">
                <img src="../images/img3.webp" alt="">
            </div>
            <div class="item">
                <img src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_520,h_520/rng/md/carousel/production/s5ug2key6e2sptaxku5v" alt="">
            </div>
            <div class="item">
                <img src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_520,h_520/rng/md/carousel/production/ifi2lbzxeu1hvsqrsip3" alt="">
            </div>
        </div> 
    </div>
    <div class="input-group rounded searchBoxExp">
        <input id="searchText" type="search" class="form-control rounded" placeholder="Search Restaurants" aria-label="Search" aria-describedby="search-addon" />
        <span class="input-group-text border-0 px-4 btn-dark" id="search-addon" onclick="searchRestaurents()">
          <i class="fas fa-search"></i>
        </span>
      </div>
    <div class="container">
        <h3 class="cont-name">Restaurants</h3>
        
        <div class=" place container-fluid d-flex " id="exploreRestaurants">
            
        </div>
    </div>  
      
</div>

<!-- Footer -->