<form>
    <div class="h1 mb-4">SIGN UP</div>
    <div class="mb-3 width-370px">
        <label for="userAccountId" class="form-label">Account ID</label>
        <input type="text" class="form-control" id="userAccountId" aria-describedby="emailHelp">

    </div>
    <div class="mb-3">
        <label for="userEmail" class="form-label">E-mail</label>
        <input type="email" class="form-control" id="userEmail">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="userPassword" class="form-label">Password</label>
        <input type="password" class="form-control" id="userPassword">
    </div>
    <div class="mb-3">
        <label for="userConfirmPassword" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" id="userConfirmPassword">
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="tAndc">

        <label class="form-check-label " for="tAndc"><span><a href="#">Terms & Condition</a>  </span></label>
    </div>
    <div class="d-grid gap-2">
        <button class="btn  fw-bold btn btn-outline-dark text-light border" type="button" onclick="newUserSingup()">Sign Up</button>

    </div>
    <div class="mb-3 text-center mt-3 ">
        <div id="emailHelp" class="form-text text-center">Already have an account ?</div>
        <div class="mt-2"><a href="#login" onclick="loadSelectedTemplate('login')" class="text-light text-decoration-none fw-bold">GET LOGIN <i class="fa-solid fa-arrow-right-to-bracket"></i></a></div>
    </div>
    <div id="successBlock"></div>
</form>